body {
  background-image: url("../Bilder/background.jpg");
}

header {
  text-align: center;
  font-size: larger;
}
.header {
  color: black;
  -webkit-text-stroke: 1px yellow;
}
.navigation {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  flex-wrap: row;
  gap: 50%;
  margin-left: 35%;
}

.navigation,
img {
  width: 50vh;
  margin-top: 4vh;
}

.nav {
  background-color: darkgray;
  animation-name: navigation1;
  animation-duration: 4s;
  animation-iteration-count: 1;
  text-align: center;
  border: 1px solid;
  border-radius: 50px;
  justify-content: space-around;
  color: Black;
}

.shopping,
img {
  width: 25vh;
}

.shopping {
  width: 60%;
  margin-left: 40%;
  flex-basis: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 40vh;
}

footer {
  width: 100%;
  margin-top: 20%;
  background: black;
  color: white;
}

a {
  text-decoration: none;
}

.output-div {
  color: white;
  text-align: center;
  font-size: larger;
}
.txtSearch {
  text-align: center;
  margin-top: 10vh;
}

#txtSearch {
  height: 5vh;
  width: 30vh;
  border-radius: 5vh;
  font-size: larger;
}

.title {
  text-align: center;
  -webkit-text-stroke: 1px yellow;
}
.information {
  position: relative;
  left: 90%;
  width: 40vh;
}
.contactTxt {
  color: black;
}
.contact {
  font-size: larger;
}
.infoTxt{
  width: 40vh;
}

table, th, td {
  border: 1px solid;
  color: white;
  height: 40px;
}
table{
  position: absolute;
  left: 5%; 
  top: 5%;
  width: 20%;
}

@keyframes navigation1 {
  0% {background-color: darkgray;}
  50% {background-color: purple;}
  100% {background-color: darkgray;}
}

@media screen and (max-width: 992px){
  table{
    margin-top: 10%;
  }
}