body{
  background-image: url("Bilder/background.jpg");
}

header{
  text-align: center;
  -webkit-text-stroke: 1px yellow;
  font-size: larger;
}

.navigation{
  width: 100vw;
  display: flex;
  justify-content: space-around;
  margin-left: 70vh;
  margin-top: 20vh;
  gap: 80%;
  flex-wrap: row;
}

.navigation , img{
  width: 50vh;
}

.nav{
  background-color: white;
  text-align: center;
  border: 1px solid;
  border-radius: 50px;
  justify-content: space-around;
  color: Black;
}

.shopping, img{
  width: 25vh;
}

.shopping{
  width: 60%;
  margin-left: 40%;
  flex-basis: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}


footer{
  color: white;
  margin-top: 10vh;
  background-color: black;
}

a{
  text-decoration: none;  
}

.output-div {
  color: white;
}