body{
  background-image: url("Bilder/background.jpg");
}

header{
  text-align: center;
  -webkit-text-stroke: 1px yellow;
  font-size: larger;
}

.navigation{
  width: 100vw;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

.navigation , img{
  width: 50vh;
}

.nav{
  background-color: white;
  text-align: center;
  border: 1px solid red;
  border-radius: 50px;
}